body {
	display: flex;
	justify-content: center;
	background-color: #161618;
	/*Отключает горизантальных скролл для webapp tg, если контент выходящий за пределы body не вмещается */
}

body::-webkit-scrollbar {
	display: none;
}

.page-content {
	/*flex-direction: column;
	width: 550px;
	height: 932px;
	background-color: #161618;
	*/
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow-x: hidden;
	/*max-width: 400px;*/
}

.page-header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	padding-left: 20px;
}

.header-text1 {
	font-family: Medium;
	font-size: 27px;
	color: #ebebeb;
	padding-right: 150px;
	margin-bottom: 0px;
}

.header-text2 {
	font-family: ExtraLight;
	font-size: 27px;
	color: #ebebeb;
	margin-top: 0px;
	padding-left: 96px;
	margin-bottom: 0px;
}


.page-card-info {  /*card-info-section*/
	display: flex;
	justify-content: center;
	margin-top: 30px;
	width: 100%;
}

.card-info-section { /*card-info-content*/
	display: flex;
	flex-direction: column;
	/*width: 375px;*/
	width: 100%;
	min-width: 285px;
	height: 130px;
	border-radius: 20px;
	background-color: #27272b;
	filter: drop-shadow(0px 4px 6px #000000);
}

.bg-setting-img {
	width: 36px;
	height: 36px;
	background-color: rgba(112, 109, 109, 0.5);
	border-radius: 50px;
	margin-left: 9px;
	margin-top: 9px;
	position: fixed;
}

.setting-img {
	display: block;
	width: 36px;
	height: 36px;
}

.setting-img img {
	width: 26px;
	height: 26px;
	padding: 5px;
}

.card-info-content > .text {
	font-size: 21px;
	font-family: Light;
	color: #ebebeb;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}

.balance {
	font-size: 28px;
	font-family: Bold;
	color: #d4d4d4;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
}

.number-card {
	font-size: 21px;
	font-family: Medium;
	color: #d4d4d4;
	text-align: end;
	margin-top: 12px;
	margin-right: 13px;
}




.page-services {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	width: 100%;
}

.delimiter {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	z-index: -1;
}

.item1 {
	width: 85px;
	height: 20px;
	background-color: #E51B1B;
}

.item2 {
	width: 15px;
	height: 94px;
	background-color: #E51B1B;
}

.item3 {
	width: 85px;
	height: 21px;
	background-color: #E51B1B;
}

.referral-system-section, .promo-codes {  /*referral-system-content...*/
	width: 180px;
	height: 135px;
	border-radius: 20px;
	background-color: #27272b;
	filter: drop-shadow(0px 4px 6px #000000);
}

.referral-system-section {
	margin-right: 15px;
	width: 100%;
	min-width: 135px;
	/*margin-right: 5px;*/
}

.promo-codes {
	width: 100%;
	min-width: 135px;
	/*margin-left: 10px;*/
}

.referral-system-header, .promo-codes-header {
	font-size: 17px;
	font-family: SemiBold;
	color: #ebebeb;
	width: 150px;
	margin-top: 9px;
	margin-left: 9px;
}

.qwe {
	display: flex;
	justify-content: space-between;
	padding-top: 17px;
}

.asd {
	display: flex;
	justify-content: flex-end;
	padding-top: 39px;
}

.referral-counter {
	font-size: 26px;
	font-family: Medium;
	color: #d4d4d4;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 10px;
	padding-left: 10px;
	/*padding-bottom: 10px;*/
}

.bg-ref-link-img, .bg-promo-activation-img {
	width: 40px;
	height: 40px;
	background-color: rgba(112, 109, 109, 0.5);
	border-radius: 50px;
	margin-right: 8px;
}

.ref-link-img {
	display: block;
	width: 40px;
	height: 40px;
}

.ref-link-img img {
	width: 26px;
	height: 26px;
	padding: 7px;
}

.ref-link-img:active {
	border-radius: 50px;
	background-color: #706D6D;
}

.promo-code-activation-img {
	display: block;
	width: 40px;
	height: 40px;
}

.promo-code-activation-img img {
	width: 24px;
	height: 24px;
	padding: 8px;
}

.promo-code-activation-img:active {
	border-radius: 50px;
	background-color: #706D6D;
}


.history-operations-section {
	display: flex;
	justify-content: center;
	width: 100%;
}

.history-operations-content {
	display: flex;
	flex-direction: column;
	/*width: 375px;*/
	width: 100%;
	min-width: 285px;
	min-height: 94px;
	max-height: 270px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	background-color: #27272b;
	filter: drop-shadow(0px 4px 6px #000000);
	margin-top: 10px;
}

.history-operations-header {
	font-size: 18px;
	font-family: SemiBold;
	color: #ebebeb;
	width: 300px;
	margin: 0px;
	padding-top: 15px;
	padding-left: 16px;
}

.history-operations-items {
	display: flex;
	flex-direction: column;
	overflow-y: auto;
  	overflow-x: hidden;
  	width: 100%;
	margin-top: 5px;
	/*min-height: 60px;*/
	/*max-height: 218px;*/
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
    background: #706D6D;
    border-radius: 8px;
}

.operation-content {
	overflow: hidden;
	cursor: pointer;
	transition: background .25s;
}

.operation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	/*width: 375px;*/
	width: 100%;
	height: 50px;
	/*
	overflow: hidden;
	position: relative;
	transition: background .25s;
	background-image: linear-gradient(rgba(112, 109, 109, 0.1), rgba(112, 109, 109, 0.1));
	background-position: 100% 50%;
	background-repeat: no-repeat;
	background-size: 0% 100%;
  	transition: background-size .2s, color .2s;
  	*/
}

/*
.wave {
	width: 375px;
	height: 50px;
	background: rgba(112, 109, 109, 0.1);
	border-radius: 50%;
	transform: scale(0);
	animation: wave .5s linear;
	position: absolute;
}

@keyframes wave {
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
*/

.operation:active {
	background: rgba(112, 109, 109, 0.1);
	/*background-size: 100% 100%;*/
}

.spisanie-img, .popolnenie-img {
	width: 47px;
	height: 47px;
	margin-left: 5px;
}

.spisanie, .popolnenie {
	font-size: 15px;
	font-family: SemiBold;
	color: #ebebeb;
	margin-left: 5px;
}

.left-side {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.right-side {
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.content2 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	padding-right: 13px;
}

.amount-spisaniya {
	font-size: 15px;
	font-family: Regular;
	color: #e51b1b;
	/*margin-left: 215px;*/
	margin: 0px;
}

.amount-popolneniya {
	font-size: 15px;
	font-family: Regular;
	color: #27a12f;
	/*margin-left: 215px;*/
	margin: 0px;
}

.datetime {
	font-size: 13px;
	font-family: Regular;
	color: #ebebeb;
	margin: 0px;
}




.other-info-section {
	display: flex;
	justify-content: center;
	width: 100%;
}

.other-info-content {
	display: flex;
	flex-direction: column;
	/*width: 393px;*/
	width: 100%;
	min-width: 202px;
	height: 150px;
	background-color: #27272b;
	filter: drop-shadow(0px 4px 6px #000000);
	margin-top: 10px;
}

.other-info-header { /* title */
	font-size: 18px;
	font-family: SemiBold;
	color: #ebebeb;
	margin-top: 13px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.other-info-items {
	display: flex;
	overflow-y: hidden;
	overflow-x: auto;
	padding-bottom: 2px;
}

.other-info-items:hover::-webkit-scrollbar {
	display: inline;
}

.item {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-width: 230px;
	height: 90px;
	border-radius: 10px;
	margin-left: 15px;
}

.item:last-child {
	margin-right: 15px;
}

.text-item {
	display: flex;
	flex-direction: column;
	align-items: start;
}

.title {
	font-size: 14px;
	font-family: Medium;
	color: #ebebeb;
	text-align: start;
	max-width: 140px;
	max-height: 54px;
	margin-top: 0px;
	margin-left: 9px;
	margin-bottom: 0px;
}

.transition {
	font-size: 12px;
	font-family: Regular;
	color: #ebebeb;
	text-decoration: none;
	max-width: 140px;
	margin-top: 6px;
	margin-left: 9px;
}

.img-item {
	width: 50px;
	height: 50px;
	margin-left: 16px;
}




.alert-section {
	display: flex;
	justify-content: center;
}

.referral-link-copy-alert {
	/*
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	*/
	width: 375px;
	height: 108px;
	margin-top: 10px;
	border-radius: 20px;
	background-color: #27272B;
	filter: drop-shadow(0px 4px 6px #000000);
    transition: opacity 0.5s ease;
    overflow: hidden;
	position: fixed;
	z-index: 9999;
	opacity: 0;
}

.referral-link-copy-alert.show {
	opacity: 1;
}

.referral-link-copy-alert.hide {
	opacity: 0;
}

.yasno1 {
	display: flex;
	justify-content: flex-end;
	padding-top: 10px;
	padding-right: 15px;
}

.closed-alert-img {
	width: 27px;
	height: 27px;
}

.closed-alert-img:active {
	border-radius: 5px;
	background-color: #706D6D;
}

.closed-alert-img img {
	width: 27px;
	height: 27px;
}

.referral-link-copy-alert > .text {
	font-size: 17px;
	font-family: Regular;
	color: #ebebeb;
	/*margin-top: 43px;*/
	margin-top: 5px;
    margin-bottom: 0px;
    text-align: center;
}

.referral-link-copy-alert > .subtext-1 {
	font-size: 10px;
	font-family: Light;
	color: #ebebeb;
	margin: 0px;
	padding-top: 8px;
	text-align: center;
}

.referral-link-copy-alert > .subtext-2 {
	font-size: 10px;
	font-family: Light;
	margin: 0px;
	color: #ebebeb;
	text-align: center;
}

.progress-bar {
	width: 355px;
	height: 3px;
	border-radius: 20px;
	background-color: #F24822;
	opacity: 0;
	/*margin-top: 8px;*/
	margin-top: 9px;
	margin-left: auto;
	margin-right: auto;
}

.progress-bar.start-anim {
	opacity: 1;
	transform-origin: left;
	animation: anim 5s linear forwards; /*alternate*/
}

@keyframes anim {
	0% {transform: scaleX(1);}
	100% {transform: scaleX(0);}
}


@font-face {
	font-family: ExtraLight;
	src: url(font/static/Onest-ExtraLight.ttf);
}

@font-face {
	font-family: Light;
	src: url(font/static/Onest-Light.ttf);
}

@font-face {
	font-family: Regular;
	src: url(font/static/Onest-Regular.ttf);
}

@font-face {
	font-family: Medium;
	src: url(font/static/Onest-Medium.ttf);
}

@font-face {
	font-family: SemiBold;
	src: url(font/static/Onest-SemiBold.ttf);
}

@font-face {
	font-family: Bold;
	src: url(font/static/Onest-Bold.ttf);
}
